.pass-word-form {
    z-index: 9998;
    padding: 20px;
    border: 4px solid palevioletred;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .pass-word__title {
        font-size: 3rem;
        color: palevioletred;
        font-weight: 900;
    }
    .pass-word__input {
        width: 100%;
        height: 50px;
        font-size: 1.9rem;
        padding: 0 20px;
        border-radius: 999px;
        border: none;
        outline: none;
        text-align: center;
        margin: 20px 0;
    }
    .pass-word__numbers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .pass-word__number {
            padding: 20px;
            font-size: 2rem;
            border-radius: 50%;
            text-align: center;
            background-color: #ff69b4;
            transition: all 0.3s ease;
            &:hover {
                background-color: #ff1493;
                cursor: pointer;
            }
        }

        // Đưa số 9 ra giữa dòng cuối
        .pass-word__number:nth-child(10) {
            grid-column: 2 / 3;
        }
    }
    .pass-word__submit {
        width: 100%;
        height: 50px;
        font-size: 1.9rem;
        padding: 0 20px;
        border-radius: 999px;
        border: none;
        outline: none;
        text-align: center;
        margin-top: 30px;
        background-color: #ff69b4;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            background-color: #ff1493;
        }
    }
}
